@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<BadmintonBooking.Models.Court>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<style>
    .status-active {
        display: inline-flex;
        align-items: center;
        border-radius: 9999px;
        padding: 0.5em 1em;
        font-size: 0.875rem;
        font-weight: 600;
        color: #fff;
        background-color: #28a745; /* Active */
        border: 1px solid transparent;
    }

    .status-inactive {
        display: inline-flex;
        align-items: center;
        border-radius: 9999px;
        padding: 0.5em 1em;
        font-size: 0.875rem;
        font-weight: 600;
        color: #fff;
        background-color: #dc3545; /* Inactive */
        border: 1px solid transparent;
    }
</style>
<partial name="_Notification" />
<body class="book1">
    <script src="~/js/script.js"></script>
    <div class="container container1">
        <div class="main-content">
            <h1 class="text-center">Badminton Court Information</h1>
            <div class="form-group" style="width:300px">
                <input type="text" style="background: #ccc;" class="form-control mb-2 mr-sm-2" placeholder="Enter court name" id="txtSearch">
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/Manager/Booking?page=1&sortOrder=name_asc">Name Ascending</a>
                    <a class="dropdown-item" href="/Manager/Booking?page=1&&sortOrder=name_desc">Name Descending</a>
                    <a class="dropdown-item" href="/Manager/Booking?page=1&&sortOrder=price_asc">Price Ascending</a>
                    <a class="dropdown-item" href="/Manager/Booking?page=1&&sortOrder=price_desc">Price Descending </a>
                </div>
            </div>
            <div>
                <form asp-controller="Manager" asp-action="AddCourt" method="get">
                    <button class="createCourtBtn">Create new court</button>
                </form>


            </div>



            <div class="court-item mt-4" id="courtList">
                @if (Model != null && Model.Any())
                {
                    foreach (var court in Model)
                    {
                        <div class="card mb-3">
                            <div class="row g-0">
                                
                                <div class="col-md-4">
                                    <img src="/Upload/Image/@court.CoPath" class="img-fluid" alt="@court.CoName">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="selectedCourtInfo">
                                        <h5 class="card-title">@court.CoName</h5>
                                            <p class="card-text"><i class="fa-solid fa-location-dot" style="color: red"></i> @court.CoAddress</p>
                                            <p class="card-text"><i class="fa-solid fa-money-bill" style="color: lightblue;"></i> @court.CoPrice</p>
                                            <p class="card-text"><i class="fa-solid fa-circle-info" ></i>@court.CoInfo</p>
                                           

                                        @{
                                            using var context = new DemobadmintonContext();
                                            var ratingsListForCourt = context.Ratings.Where(r => r.CourtId == court.CoId).Select(r => r.Rating1).ToList();
                                            var ratingAvg = ratingsListForCourt.Average();

                                                var today = DateTime.Today;
                                                var todayReport = context.CourtConditions
                                                .Where(cc => cc.CoId == court.CoId && cc.CdCreatedAt.Date == today)
                                                .FirstOrDefault();
                                        }
                                            <p class="card-text"><i class="fa-solid fa-star fa-spin" style="color: #FFD43B;"></i>@ratingAvg (@ratingsListForCourt.Count())</p>
                                            @if (todayReport == null)
                                            {
                                                <p class="card-text text-warning"><i class="fa-solid fa-exclamation-circle"></i> No report submitted for today yet</p>
                                            }
                                            @if (court.CoStatus)
                                            {
                                                <div class="status-active">Active</div>
                                            }
                                            else
                                            {
                                                <div id="suspensionShow" class="suspensionShow">Suspended</div>
                                                <div class="status-inactive">Suspended</div>
                                                <a class="btn btn-primary " asp-action="Activate" onclick="return confirm('Are you sure you want to activate this court?');" asp-controller="Manager" asp-route-id="@court.CoId">Activate</a>
                                            }
                                          
                                        </div>
                                        @if (court.CoStatus)
                                        {
                                            <form asp-action="Date" asp-controller="Manager">
                                                <div class="selectedCourtActions2nd">
                                                    <input type="hidden" name="CoId" value="@court.CoId" />
                                                    <input type="hidden" name="Types" value="Casual" />
                                                    <br /><button class="bookBtn">Book</button>
                                                    <a class="detailBtn btn-success" href="/home/CourtDetail?CourtId=@court.CoId">Detail</a>
                                                    <a class="qualityHistoryBtn btn-success" asp-action="QualityCheckHistory" asp asp-controller="Home" asp-route-CoID="@court.CoId">See Quality History</a>
                                                </div>
                                            </form>
                                            <div class="manager-control-buttons">

                                                <a class="manager-buttons-edit" asp-action="EditCourt" asp-controller="Manager" asp-route-id="@court.CoId">Edit</a>
                                                <a class="manager-buttons-suspend" asp-action="DeleteCourt" onclick="return confirm('Are you sure you want to suspend this court?');" asp-controller="Manager" asp-route-id="@court.CoId" asp-route-page="@ViewBag.Page" asp-route-sortOrder="@ViewBag.SortOrder">Suspend</a>

                                            </div>
                                        }
                                       
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        No courts available.
                    </div>
                }
                @if (ViewBag.NoOfPages > 1 || ViewBag.TotalRecords <= 5)
                {
                    <ul class="pagination justify-content-center mt-4">
                        @{
                            int PrevPage = ViewBag.Page - 1;
                            if (PrevPage <= 0) PrevPage = 1;
                            int NextPage = ViewBag.Page + 1;
                            if (NextPage > ViewBag.NoOfPages) NextPage = ViewBag.NoOfPages;
                        }

                        <li class="page-item @(ViewBag.Page == 1 ? "disabled" : "")">
                            <a class="page-link" href="/Manager/Booking?page=@PrevPage&sortOrder=@ViewBag.SortOrder">Prev</a>
                        </li>

                        @for (int i = 1; i <= ViewBag.NoOfPages; i++)
                        {
                            <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                                <a class="page-link" href="/Manager/Booking?page=@i&sortOrder=@ViewBag.SortOrder">@i</a>
                            </li>
                        }

                        <li class="page-item @(ViewBag.Page == ViewBag.NoOfPages ? "disabled" : "")">
                            <a class="page-link" href="/Manager/Booking?page=@NextPage&sortOrder=@ViewBag.SortOrder">Next</a>
                        </li>
                    </ul>
                }


            </div>
            <!--<div> <a class="btn btn-primary" asp-action="index" asp-controller="home">Click here to return</a></div>-->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>
    <script>
        $(document).ready(function () {
            $('#txtSearch').keyup(function () {
                var searchValue = $(this).val().toLowerCase();
                $('#courtList .card').each(function () {
                    var cardText = $(this).text().toLowerCase();
                    if (cardText.indexOf(searchValue) < 0) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
</body>
