@using Microsoft.AspNetCore.Identity
@model BadmintonBooking.ViewModels.InvoiceViewModel;

@{
	ViewData["Title"] = "Invoice";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="inv-body">
    <section>
        <div class="invoice">
            <div class="top_line"></div>
            <div class="header">
                <div class="i_row">
                    <div class="i_logo">
                        <p>Court Booking</p>
                    </div>
                    <div class="i_title">
                        <h2>INVOICE</h2>
                        <p class="p_title text_right"> @Model.formattedDate</p>
                        <p class="p_title text_right"> @Model.formattedTime</p>
                    </div>
                </div>
                <div class="i_row">
                    <div class="i_number">
                        <p class="p_title">INVOICE NO: @Model.PId</p>
                    </div>
                    <div class="i_address text_right">
                        <p>TO</p>
                        <p class="p_title">
                          User <br />
                          <span>@Model.toUser</span><br />
                          @* <span>United States</span> *@
                        </p> 
                    </div>
                </div>
            </div>
            <div class="inbody">
                <div class="i_table">
                    <div class="i_table_head">
                        <div class="i_row">
                            <div class="i_col w_15">
                                <p class="p_title">Court Name</p>
                            </div>
                            <div class="i_col w_55">
                                <p class="p_title"></p>
                            </div>
                            <div class="i_col w_15">
                                <p class="p_title">TYPE OF BOOKING</p>
                            </div>
                            <div class="i_col w_15">
                                <p class="p_title">TOTAL</p>
                            </div>
                        </div>
                    </div>
                    <div class="i_table_body">
                        <div class="i_row">
                            <div class="i_col w_15">
                                <p>@Model.courtName</p>
                            </div>
                            <div class="i_col w_55">
                                <p></p>
                                <span></span>
                            </div>
                            <div class="i_col w_15">
                                <p>@Model.typeOfBooking booking</p>
                            </div>
                            <div class="i_col w_15">
                                <p>@Model.amountMinus2</p>
                            </div>

                            
                            @* <div class="i_row">
                              <div class="i_col w_15">
                                <p>2</p>
                              </div>
                              <div class="i_col w_55">
                                <p>Lorem, ipsum.</p>
                                <span
                                  >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                  Aliquam, vel.</span
                                >
                              </div>
                              <div class="i_col w_15">
                                <p>$10.00</p>
                              </div>
                              <div class="i_col w_15">
                                <p>$20.00</p>
                              </div>
                            </div>
                            <div class="i_row">
                              <div class="i_col w_15">
                                <p>5</p>
                              </div>
                              <div class="i_col w_55">
                                <p>Lorem, ipsum.</p>
                                <span
                                  >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                  Aliquam, vel.</span
                                >
                              </div>
                              <div class="i_col w_15">
                                <p>$10.00</p>
                              </div>
                              <div class="i_col w_15">
                                <p>$100.00</p>
                              </div>  *@

                        </div>
                    </div>
                    <div class="i_table_foot">
                        <div class="i_row">
                            <div class="i_col w_15">
                                <p></p>
                            </div>
                            <div class="i_col w_55">
                                <p></p>
                            </div>

                             <div class="i_col w_15">
                              <p>Shipping</p> 
                              <p>Tax</p>
                            </div>
                            <div class="i_col w_15">
                               <p>$1.00</p> 
                              <p>$1.00</p>
                            </div> 

                        </div>
                        <div class="i_row grand_total_wrap">
                            <div class="i_col w_50"></div>
                            <div class="i_col w_50 grand_total">
                                <p>
                                    <span>GRAND TOTAL:</span>
                                    <span>@Model.amount</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="i_row">
                    <div class="i_col w_50">
                        <p class="p_title">Payment Method</p>
                        <p>Paypal</p>
                    </div>
                    <div class="i_col w_50 text_right">
                        <p class="p_title">Terms and Conditions</p>
                        <p>
                            This receipt constitutes the entire agreement between you and
                            Court Booking System
                        </p>
                    </div>
                </div>
            </div>
            <div class="bottom_line"></div>
        </div>
    </section>
</body>
