@model IEnumerable<BadmintonBooking.Models.Court>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<partial name="_Notification" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <title>Admin</title>

    <style>
        body {
            background: url(../images/transformed-8af3268a-a740-4c63-a384-18faa5fe0dab_badmintoncourt.jpeg) no-repeat fixed;
            background-color: #242526;
            background-position: center;
            background-size: cover;
            line-height: 1.6;
            scroll-behavior: smooth;
        }

        table thead tr {
            background: #333;
        }

        tbody tr {
            background: rgba(250, 250, 250, 0.6);
            backdrop-filter: blur(10px);
        }

        .table th, .table td {
            vertical-align: middle;
        }

        .table img {
            max-width: 150px;
            max-height: 150px;
            object-fit: cover;
        }

        .createCourtBtn {
            cursor: pointer;
            border-radius: 8px;
            display: inline-block;
            padding: 0.5rem 1rem;
            background-color: rgba(20, 20, 20, 0.8);
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            transition: 0.2s ease;
            backdrop-filter: blur(24px);
            -webkit-backdrop-filter: blur(24px);
        }

        .createCourtBtn:hover {
            color: #c0e7e5;
            background: brown;
        }

        .header-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .status-active {
            display: inline-flex;
            align-items: center;
            border-radius: 9999px;
            padding: 0.5em 1em;
            font-size: 0.875rem;
            font-weight: 600;
            color: #fff;
            background-color: #28a745; /* Green background */
            border: 1px solid transparent;
        }

        .status-inactive {
            display: inline-flex;
            align-items: center;
            border-radius: 9999px;
            padding: 0.5em 1em;
            font-size: 0.875rem;
            font-weight: 600;
            color: #fff;
            background-color: #dc3545; /* Red background */
            border: 1px solid transparent;
        }

        .pagination .page-item.active .page-link {
            background: #ccc;
            border: 2px solid brown;
            color: brown;
        }

        .pagination .page-item.disabled .page-link {
            background: #242526;
            border: 1px solid lightgray;
            color: lightgray;
        }

        .pagination .page-item .page-link {
            background: #242526;
            border: 1px solid white;
            color: white;
            transition: transform 0.2s ease;
        }

            .pagination .page-item.active .page-link:hover,
            .pagination .page-item .page-link:not(.page-item.disabled):hover {
                transform: scale(1.05);
                transition: transform 0.3s ease;
            }
    </style>
</head>
<body>
    

    <div class="content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="header-btn mb-3">
                       
                        <h1 class="text-center" style="text-shadow: -0.5px -0.5px 3px #fff, -0.5px -0.5px 3px #fff, 0.5px 0.5px 3px #fff, 0.5px 0.5px 3px #fff;">Badminton Court</h1>
                    </div>

                    <div class="row justify-content-center mb-3">
                        
                        <div class="col-md-6 col-lg-4">
                           
                            <div class="input-group">
                                <input type="text" placeholder="Search here" id="txtSearch" class="form-control" />
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sort By
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/Admin/Show?page=1&sortOrder=name_asc">Name Ascending</a>
                                        <a class="dropdown-item" href="/Admin/Show?page=1&sortOrder=name_desc">Name Descending</a>
                                        <a class="dropdown-item" href="/Admin/Show?page=1&sortOrder=price_asc">Price Ascending</a>
                                        <a class="dropdown-item" href="/Admin/Show?page=1&sortOrder=price_desc">Price Descending</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <form asp-controller="admin" asp-action="AddCourt" method="get">
                                <button class="createCourtBtn">Create new court</button>
                            </form>
                            
                            
                        </div>
                    </div>

                    <table class="table table-bordered shadow-sm">
                        <thead>
                            <tr class="text-center text-light">
                                <th>Court Id</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Image</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var c in Model)
                                {
                                    var imagePath = "/Upload/Image/" + c.CoPath;
                                    <tr>
                                        <td>@c.CoId</td>
                                        <td>@c.CoName</td>
                                        <td>@c.CoAddress</td>
                                        <td>@c.CoInfo</td>
                                        <td>@c.CoPrice</td>
                                        <td>
                                            <img src="@imagePath" class="img-fit" width="150px" height="150px">
                                        </td>
                                        <td>
                                            @if (c.CoStatus)
                                            {
                                                <div class="status-active">Active</div>
                                            }
                                            else
                                            {
                                                <div class="status-inactive">Suspended</div>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" asp-action="EditCourt" asp-controller="Admin" asp-route-id="@c.CoId">Edit</a>
                                            <!----<a class="btn btn-warning" asp-action="DetailCourt" asp-controller="Admin" asp-route-id="@c.CoId">Detail</a>--->
                                            @if (c.CoStatus)
                                            {
                                                <a class="btn btn-danger" asp-action="DeleteCourt" onclick="return confirm('Are you sure you want to suspend this court?');" asp-controller="Admin" asp-route-id="@c.CoId" asp-route-page="@ViewBag.Page" asp-route-sortOrder="@ViewBag.SortOrder">Suspend</a>
                                            }
                                            @* <a class="btn btn-danger" asp-action="DeleteCourt" onclick="return confirm('Are you sure you want to suspend this court?');" asp-controller="Admin" asp-route-id="@c.CoId" asp-route-page="@ViewBag.Page" asp-route-sortOrder="@ViewBag.SortOrder">Suspend</a> *@
                                            @if (!c.CoStatus)
                                            {
                                                <a class="btn btn-warning " asp-action="Activate" onclick="return confirm('Are you sure you want to activate this court?');" asp-controller="Admin" asp-route-id="@c.CoId">Activate</a>
                                            }
                                           
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8">No courts available</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="8">
                                    @{
                                        int PrevPage = ViewBag.Page - 1;
                                        if (PrevPage <= 0)
                                        {
                                            PrevPage = 1;
                                        }
                                        int NextPage = ViewBag.Page + 1;
                                        if (NextPage > ViewBag.NoOfPages)
                                        {
                                            NextPage = ViewBag.NoOfPages;
                                        }
                                    }
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="/Admin/Show?page=@PrevPage&sortOrder=@ViewBag.SortOrder">Prev</a>
                                        </li>
                                        @for (int i = 0; i < ViewBag.NoOfPages; i++)
                                        {
                                            if (i + 1 == ViewBag.Page)
                                            {
                                                <li class="page-item active">
                                                    <a class="page-link" href="/Admin/Show?page=@(i+1)&sortOrder=@ViewBag.SortOrder">@(i + 1)</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="/Admin/Show?page=@(i+1)&sortOrder=@ViewBag.SortOrder">@(i + 1)</a>
                                                </li>
                                            }
                                        }
                                        <li class="page-item">
                                            <a class="page-link" href="/admin/show?page=@NextPage&sortOrder=@ViewBag.SortOrder">Next</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        $(document).ready(function () {
            if ($('#tempDataMessage').length > 0) {
                setTimeout(function () {
                    $('#tempDataMessage').fadeOut('slow');
                }, 5000);
            }

            $('#txtSearch').keyup(function () {
                var typeValue = $(this).val().toLowerCase();
                $('tbody tr').each(function () {
                    var rowText = $(this).text().toLowerCase();
                    if (rowText.indexOf(typeValue) < 0) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });
        });
       




    </script>
    
  
   
</body>
</html>
