@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor _httpContextAccessor

<ul class="navbar-nav">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <span class="account-actions">
        <li>
            <a href="#" class="desktop-item"><i class="fa-solid fa-angle-down"></i></a>
            <input type="checkbox" id="showDrop">
            <label for="showDrop" class="mobile-item"><i class="fa-solid fa-angle-down"></i></label>
            <ul class="drop-menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Profile">Profile</a></li>
                <li><a asp-controller ="admin" asp-action="show">Admin</a>

        </li>
             <!---- <li><a href="#">Dashboard</a></li>--->  
                <li class="logout nav-item">
                    <a class="nav-link text-light" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i>LogOut</a>
                </li>
            </ul>
        </li>
        <li class="profile-pic">
            <img src="~/images/150.png">
        </li>
        <li class="nav-item" >
            <a class="nav-link text-light" asp-controller="Admin" asp-action="Show">Admin</a>
        </li>
        <li class="username nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Profile" class="nav-link text-light"><span>@UserManager.GetUserName(User)</span></a>
        </li>

            @{
                var CustomerId = UserManager.GetUserId(User);
                _httpContextAccessor.HttpContext.Session.SetString("CusId", CustomerId);
            }

        
        </span>
    }
    else @if (SignInManager.IsSignedIn(User) && User.IsInRole("Staff"))
        {
        <span class="account-actions">
        <li>
            <a href="#" class="desktop-item"><i class="fa-solid fa-angle-down"></i></a>
            <input type="checkbox" id="showDrop">
            <label for="showDrop" class="mobile-item"><i class="fa-solid fa-angle-down"></i></label>
            <ul class="drop-menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Profile">Profile</a></li>
                <li><a asp-controller="home" asp-action="staff">Staff</a></li>
                <!--- <li><a href="#">Dashboard</a></li> -->
                              <li class="logout nav-item">
                    <a class="nav-link text-light" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i>LogOut</a>
                </li>
            </ul>
        </li>
        <li class="profile-pic">
            <img src="~/images/150.png">
        </li>
  <!--     <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Home" asp-action="Checkin">Staff Controller</a>
              </li> -->
        <li class="username nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Profile" class="nav-link text-light"><span>@UserManager.GetUserName(User)</span></a>
            </li>

                @{
                    var CustomerId = UserManager.GetUserId(User);
                    _httpContextAccessor.HttpContext.Session.SetString("CusId", CustomerId);
                }

            
        </span>
    }
    else @if (SignInManager.IsSignedIn(User) && User.IsInRole("Manager"))
    {
        <span class="account-actions">
        <li>
            <a href="#" class="desktop-item"><i class="fa-solid fa-angle-down"></i></a>
            <input type="checkbox" id="showDrop">
            <label for="showDrop" class="mobile-item"><i class="fa-solid fa-angle-down"></i></label>
            <ul class="drop-menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Profile">Profile</a></li>
                <li><a asp-controller="Manager" asp-action="Booking">Manager</a></li>
                <!--- <li><a href="#">Dashboard</a></li> -->
                <li class="logout nav-item">
                    <a class="nav-link text-light" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i>LogOut</a>
                </li>
            </ul>
        </li>
        <li class="profile-pic">
            <img src="~/images/150.png">
        </li>
        <!--     <li class="nav-item">
                  <a class="nav-link text-light" asp-controller="Home" asp-action="Checkin">Staff Controller</a>
                    </li> -->
        <li class="username nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Profile" class="nav-link text-light"><span>@UserManager.GetUserName(User)</span></a>
        </li>

            @{
                var CustomerId = UserManager.GetUserId(User);
                _httpContextAccessor.HttpContext.Session.SetString("CusId", CustomerId);
            }


        </span>
    }
    else @if (SignInManager.IsSignedIn(User))
    {
        <span class="account-actions">
        <li>
            <a href="#" class="desktop-item"><i class="fa-solid fa-angle-down"></i></a>
            <input type="checkbox" id="showDrop">
            <label for="showDrop" class="mobile-item"><i class="fa-solid fa-angle-down"></i></label>
            <ul class="drop-menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Profile">Profile</a></li>
                <li><a asp-controller="Home" asp-action="customer">Check Out</a></li>
                <li><a asp-controller="Home" asp-action="BookingHistory" asp-route-userID="@UserManager.GetUserAsync(User)?.Result?.Id"><i class="fa-solid fa-clock-rotate-left"></i>Booking History</a></li>
                <li><a asp-controller="Home" asp-action="UpComingEvent" asp-route-userID="@UserManager.GetUserAsync(User)?.Result?.Id"><i class="fa-regular fa-calendar-days"></i>UpComing Event</a></li>
                <!-- <li><a href="#">Dashboard</a></li>-->
                <li class="logout nav-item">
                    <a class="nav-link text-light" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i>LogOut</a>
                </li>
            </ul>
        </li>
        <li class="profile-pic">
            <img src="~/images/150.png">
        </li>
        <li class="username nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Profile" class="nav-link text-light"><span>@UserManager.GetUserName(User)</span></a>
        </li>

            @{
                var CustomerId = UserManager.GetUserId(User);
                _httpContextAccessor.HttpContext.Session.SetString("CusId", CustomerId);
            }

        
        </span>

    }
        else
    {
        <span class="account-actions">
            <li class="nav-item">
                <a class="nav-link text-light" id="register" asp-controller="Account" asp-action="Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" id="login" asp-controller="Account" asp-action="Login">Login</a>
            </li>
        </span>
    }

   
</ul>
