@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<BadmintonBooking.Models.Court>
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var hours = ViewData["Hours"];
    var bId = ViewData["BookingId"];
    var CoId = ViewData["CoId"] as int?;
    var mes = ViewData["Message"];
    var remain = ViewData["Remain"];
}
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">

<style>
    .status-active {
        display: inline-flex;
        align-items: center;
        border-radius: 9999px;
        padding: 0.5em 1em;
        font-size: 0.875rem;
        font-weight: 600;
        color: #fff;
        background-color:goldenrod; 
        border: 1px solid transparent;
    }
</style>
<body class="book1">
    <div class="container container1">
        <div class="main-content">
            <h1 class="text-center">Badminton Court Information</h1>
            <img src="~/images/photo-1536598774668-2eeb8a1a5f99.png" class="main-image img-fluid" alt="Badminton Court Image">

            <div class="form-group" style="width:300px">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="enter keyword" id="txtSearch">
            </div>
            <!----<form method="get" action="@Url.Action("Book2", "Home")">
                <input type="text" name="search" placeholder="Search by keyword..." />
                <input type="hidden" name="address" value="@ViewBag.SearchAddress" />
                <button type="submit">Search</button>
            </form>--->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Select time
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/home/book2?address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectedTime=">Reset</a>
                    <a class="dropdown-item" href="/home/book2?address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectedTime=9:00">9AM</a>
                    <a class="dropdown-item" href="/home/book2?address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectedTime=10:00">10AM</a>
                    <a class="dropdown-item" href="/home/book2?address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectedTime=11:00">11AM</a>
                    <a class="dropdown-item" href="/home/book2?address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectedTime=12:00">12PM</a>
                    <a class="dropdown-item" href="/home/book2?address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectedTime=13:00">1PM</a>
                    <a class="dropdown-item" href="/home/book2?address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectedTime=14:00">2PM</a>
                    <a class="dropdown-item" href="/home/book2?address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectedTime=15:00">3PM</a>
                    <a class="dropdown-item" href="/home/book2?address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectedTime=16:00">4PM</a>
                    <a class="dropdown-item" href="/home/book2?address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectedTime=17:00">5PM</a>
                    <a class="dropdown-item" href="/home/book2?address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectedTime=18:00">6PM</a>
                    <a class="dropdown-item" href="/home/book2?address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectedTime=19:00">7PM</a>
                    <a class="dropdown-item" href="/home/book2?address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectedTime=20:00">8PM</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                </button>
                @{
                    var selectime = ViewBag.SelectedTime;
                }
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/home/book2?page=1&address=@ViewBag.SearchAddress&sortOrder=name_asc&selectedTime=@ViewBag.SelectedTime">Name Ascending</a>
                    <a class="dropdown-item" href="/home/book2?page=1&address=@ViewBag.SearchAddress&sortOrder=name_desc&selectedTime=@ViewBag.SelectedTime">Name Descending</a>
                    <a class="dropdown-item" href="/home/book2?page=1&address=@ViewBag.SearchAddress&sortOrder=price_asc&selectedTime=@ViewBag.SelectedTime">Price Ascending</a>
                    <a class="dropdown-item" href="/home/book2?page=1&address=@ViewBag.SearchAddress&sortOrder=price_desc&selectedTime=@ViewBag.SelectedTime">Price Descending </a>
                    <a class="dropdown-item" href="/home/book2?page=1&address=@ViewBag.SearchAddress&sortOrder=&selectedTime=@ViewBag.SelectedTime">Reset </a>
                </div>
            </div>
                
                

            <div class="court-item mt-4" id="courtList">
                @if (Model != null && Model.Any())
                {
                    foreach (var court in Model)
                    {
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="/Upload/Image/@court.CoPath" class="img-fluid" alt="@court.CoName">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="selectedCourtInfo">
                                        <h5 class="card-title">@court.CoName</h5>
                                        <p class="card-text"><i class="fa-solid fa-location-dot fa-bounce fa-sm" style="color: red"></i> @court.CoAddress</p>
                                        <p class="card-text"><i class="fa-solid fa-money-bill fa-sm" style="color: lightblue;"></i>@court.CoPrice</p>
                                        <p class="card-text"><i class="fa-solid fa-circle-info"></i>@court.CoInfo</p>
                                        @{
                                            using var context = new DemobadmintonContext();
                                            var ratingsListForCourt = context.Ratings.Where(r => r.CourtId == court.CoId).Select(r => r.Rating1).ToList();
                                            var ratingAvg = ratingsListForCourt.Average();
                                        }
                                        <p class="card-text"><i class="fa-solid fa-star fa-spin" style="color: #FFD43B;"></i>@ratingAvg (@ratingsListForCourt.Count())</p>
                                        <p>In progress:</p>
                                     <!---->   @foreach (var item in court.TimeSlots)
                                        {
                                            if (item.TsDate == DateOnly.FromDateTime(DateTime.Today))
                                            {

                                                <div class="status-active"><i class="fa-solid fa-badminton fa-bounce"></i>@item.TsStart  <i class="fa-light fa-turn-right fa-fade"></i> @item.TsEnd </div>


                                            }
                                        }
                                        </div>
                                        
                                        <form asp-action="Date" asp-controller="Home">
                                            <input type="hidden" name="CoId" value="@court.CoId" />
                                            @if(CoId == court.CoId && hours != null)
                                            {
                                                <div class="booking-still-active">
                                                    <label class="text-warning">@mes</label>
                                                    <input type="hidden" name="Hours" value="@hours" />
                                                    <input type="hidden" name="Remain" value="@remain" />
                                                    <input type="hidden" name="BId" value="@bId" />
                                                </div>
                                            }
                                            else
                                            {
                                                @if (!User.IsInRole("Manager"))
                                                {
                                                    <select name="Types">
                                                        <option value="Casual">Casual</option>
                                                        <option value="Fixed">Fixed</option>
                                                        <option value="Flexible">Flexible</option>
                                                    </select>
                                                }
                                                else
                                                {
                                                    <input type="hidden" name="Types" value="Casual" />
                                                }
                                            }
                                            <div class="selectedCourtActions">
                                            <br/><button class="bookBtn">Book</button>
                                                <a class="detailBtn btn-success" href="/home/CourtDetail?CourtId=@court.CoId">Detail</a>
                                            </div>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        No courts available.
                    </div>
                }
                @if (ViewBag.NoOfPages > 1 || ViewBag.TotalRecords <= 5)
                {
                    <ul class="pagination justify-content-center mt-4">
                        @{
                            int PrevPage = ViewBag.Page - 1;
                            if (PrevPage <= 0) PrevPage = 1;
                            int NextPage = ViewBag.Page + 1;
                            if (NextPage > ViewBag.NoOfPages) NextPage = ViewBag.NoOfPages;
                        }

                        <li class="page-item @(ViewBag.Page == 1 ? "disabled" : "")">
                            <a class="page-link" href="/home/book2?page=@PrevPage&address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectTime=@ViewBag.SelectedTime">Prev</a>
                        </li>

                        @for (int i = 1; i <= ViewBag.NoOfPages; i++)
                        {
                            <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                                <a class="page-link" href="/home/book2?page=@i&address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectTime=@ViewBag.SelectedTime">@i</a>
                            </li>
                        }

                        <li class="page-item @(ViewBag.Page == ViewBag.NoOfPages ? "disabled" : "")">
                            <a class="page-link" href="/home/book2?page=@NextPage&address=@ViewBag.SearchAddress&sortOrder=@ViewBag.SortOrder&selectTime=@ViewBag.SelectedTime">Next</a>
                        </li>
                    </ul>
                }


            </div>
            <div> <a class="btn btn-primary" asp-action="index" asp-controller="home">Click here to return</a></div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>
    <script>
        $(document).ready(function () {
            $('#txtSearch').keyup(function () {
                var searchValue = $(this).val().toLowerCase();
                $('#courtList .card').each(function () {
                    var cardText = $(this).text().toLowerCase();
                    if (cardText.indexOf(searchValue) < 0) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
</body>
