@using Microsoft.AspNetCore.Identity
@model IEnumerable<BadmintonBooking.Models.Booking>
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "CheckIn";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YourAppName</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">

<style>
 * {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background-color: #242526;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    scroll-behavior: smooth;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 70%;
    height: 60%;
    background-color: #fff5;
    padding: 0 .2rem;
    border-radius: 2rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 75%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 75%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}




thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}


.search-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff5;
    border-radius: 2rem;
    padding: 0 0.8rem;
    transition: all 0.2s ease;
}

.input-group:hover {
    background-color: #fff8;
    box-shadow: 0 0.1rem 0.4rem #0002;
}

.input-group input {
    border: none;
    outline: none;
    padding: 0.5rem;
    background-color: transparent;
}

.search-icon {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.search-GO {
    border-style: none;
    border-radius: 15px;
    outline: 1px solid;
    outline-color: black;
    background: brown;
    color: white;
    padding: 0.2rem 1rem;
    transition: 0.3s ease;
    cursor: pointer;
    margin-left: 10px;
}

.search-GO:hover {
    background: brown;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 1);
    box-shadow: 2px 4px 6px rgba(128, 0, 0, 1);
}

</style>
</head>
    <body>
    <script src="~/js/script.js"></script>
    <main class="table" style="margin-top:400px" id="customers_table">
        <section class="table__header">
            <h1>Customer's Orders</h1>
            <div class="search-form">
                
                    <form method="get" action="@Url.Action("Checkin", "Home")">
                    <div class="search-container" style="display: flex; width: 100%; align-items: center; justify-content: space-around;">
                        <div class="input-group">
                            <input type="text" name="searchTerm" placeholder="Search by keyword..." />
                            <div class="search-icon">
                                <i class="fa-regular fa-magnifying-glass fa-lg"></i>
                            </div>
                            <input type="hidden" name="CourtID" value="@ViewBag.CourtID" />
                        </div>
                        <button type="submit" class="search-GO">Search</button>
                    </div>
                    </form>
                    <div class="dropdown">
                        <button style="margin-right: 60px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort By
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/Home/CheckIn?courtId=@ViewBag.CourtID&searchTerm=@ViewBag.SearchTerm&sortOrder=recent_Booking">Newest Booking</a>
                            <a class="dropdown-item" href="/Home/CheckIn?courtId=@ViewBag.CourtID&searchTerm=@ViewBag.SearchTerm&sortOrder=old_Booking">Old Booking</a>
                        </div>
                    </div>
                
            </div>
          
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Booking Id </th>
                        <th> Court Name </th>
                        <th> Image </th>
                        <th> Location </th>
                        <th> Booking type </th>
                        <th> Checkin/ Total </th>
                        <th>Customer name</th>
                        <th>Detail</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.BId</td>
                            <td> @item.Co.CoName</td>
                            <td><img src="~/Upload/Image/@item.Co.CoPath" alt="Court Image" style="width:100px" class="card-img" /></td>
                            <td> @item.Co.CoAddress</td>
                            <td> @item.BBookingType</td>
                         <td>  @if (item.TimeSlots != null && item.TimeSlots.Count > 0)
                            {
                                    // Get today's date
                                    var today = DateOnly.FromDateTime(DateTime.Now);

                                    // Filter time slots for today
                                    var timeSlotsToday = item.TimeSlots.Where(ts => ts.TsDate >= today).ToList();

                                    // Count the checked-in time slots
                                    int checkedInCount = timeSlotsToday.Count(ts => ts.TsCheckedIn);

                                    <p> <b>@checkedInCount/@timeSlotsToday.Count()</b></p>
                            }
                            </td>
                            @{
                                var context = new DemobadmintonContext();
                                var username = context.AspNetUsers.FirstOrDefault(a => a.Id == item.UserId)?.UserName;
                            }
                            <td>@username</td>
                            <td>
                                <a href="/Home/Detail?bookingid=@item.BId" class="rate-btn-primary">Detail</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </main>

</body>
    

@if (ViewBag.NoOfPages >= 1 || ViewBag.TotalRecords <= 5)
{
    <ul class="pagination justify-content-center mt-4">
        @{
            int PrevPage = ViewBag.Page - 1;
            if (PrevPage <= 0) PrevPage = 1;
            int NextPage = ViewBag.Page + 1;
            if (NextPage > ViewBag.NoOfPages) NextPage = ViewBag.NoOfPages;
        }

        <li class="page-item @(ViewBag.Page == 1 ? "disabled" : "")">
            <a class="page-link" href="/Home/CheckIn?courtId=@ViewBag.CourtID&page=@PrevPage&searchTerm=@ViewBag.SearchTerm&sortOrder=@ViewBag.SortOrder">Prev</a>
        </li>

        @for (int i = 1; i <= ViewBag.NoOfPages; i++)
        {
            <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                <a class="page-link" href="/Home/CheckIn?courtId=@ViewBag.CourtID&page=@i&searchTerm=@ViewBag.SearchTerm&sortOrder=@ViewBag.SortOrder">@i</a>
            </li>
        }

        <li class="page-item @(ViewBag.Page == ViewBag.NoOfPages ? "disabled" : "")">
            <a class="page-link" href="/Home/CheckIn?courtId=@ViewBag.CourtID&page=@NextPage&searchTerm=@ViewBag.SearchTerm&sortOrder=@ViewBag.SortOrder">Next</a>
        </li>
    </ul>
}


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}
