@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var types = ViewData["Types"] as string;
    var hours = ViewData["Hours"] ;
    var remain = ViewData["Remain"] ;
    var bId = ViewData["BookingId"] ;
}

<body class="Date">
    <script src="~/js/script.js"></script>
    <input id="types" type="hidden" value="@types" />
    <div class="date-container">
        <div class="calendar-headr">
            @if (types != "Fixed")
            {
                <button class="navi-button" id="prev-week">&lt;</button>
            }
            <h1 id="week-range"></h1>
            @if (types != "Fixed")
            {
                <button class="navi-button" id="next-week">&gt;</button>
            }
        </div>
        <table id="schedule">
            <thead>
                <tr>
                    <th>Time</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 9; i <= 20; i++)
                {
                    <tr>
                        <td>@((i > 12 ? i - 12 : i) + ":00 " + (i >= 12 ? "PM" : "AM"))</td>
                        @for (var j = 0; j < 7; j++)
                        {
                            <td></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        @if (bId != null)
        {
            
            <form method="post" asp-action="UseFlexible" asp-controller="Booking">
                <label>You still have : @hours hours</label>
                <label>Remaining time: @remain days</label>
                <input name="bId" type="hidden" value="@bId" />
                <input id="hour-left" type="hidden" value="@hours"/>
                <div class="date-container1">
                    <div>
                        <button id="cancel-all" type="button">Cancel All Bookings</button>
                    </div>
                    <div>
                        <button id="payment" type="submit">Confirm</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <form method="post" asp-action="UpdateBooking" asp-controller="Booking">
                @if (types == "Fixed")
                {
                    <label>Select your weeks: </label>
                    <select name="totalWeeks" id="total-weeks">
                        @for (var i = 4; i <= 8; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                }
                @if (types == "Flexible")
                {
                    <label>Input Hour: </label>
                    <input name="totalHours" id="total-hours" type="number" value="0" min="0" />
                }

                <div class="price">Total Price: $<span id="total-price">0</span></div>
                <input type="hidden" name="totalPrice" id="price-input" value="0" />

                <div class="date-container1">
                    <div>
                        <button id="cancel-all" type="button">Cancel All Bookings</button>
                    </div>
                    <div>
                        <button id="payment" type="submit">Pay</button>
                    </div>
                </div>
            </form>
        }
    </div>
    <script src="~/js/JScript.js"></script>
</body>
