@model IEnumerable<BadmintonBooking.Models.Court>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var courts = Model.GroupBy(c => c.CoAddress)
    .Select(addressGroup => new
    {
        Address = addressGroup.Key,
        Courts = addressGroup.GroupBy(c => c.CoName)
                             .Select(nameGroup => new
                             {
                                 Name = nameGroup.Key,
                                 ImgUrl = nameGroup.Select(p => p.CoPath).FirstOrDefault(),
                                 CourtInfo = nameGroup.Select(d => d.CoInfo).FirstOrDefault(),
                                 CourtLocation = nameGroup.Select(l => l.CoAddress).FirstOrDefault()
                             }).ToList()
    }).ToList();


}

<partial name="_Notification" />

<body>
    <script src="~/js/script.js"></script>

    <section class="Quote">
        <div>
            <div>We Offer You Our <span class="typing"></span></div>
            <div>Badminton Courts</div>
        </div>
    </section>

    <section class="heading" id="home">
        <div class="outter-container">
            <div class="welcome-container">
                <h2>Welcome</h2>
                <p>Your satisfaction is our priority. We offer our great fields to meet your needs.</p>
                <h4>Get started!</h4>
                <a href="#BookingType" class="button">Book Now!</a>
                <p class="btn-text">[Direct to booking reccomendations]</p>
            </div>
        </div>
    </section>

    <div class="welc-images">
        <img class="welc1-image" src="~/images/badminton-emnmmr8ioymey8eu.jpg" />
        <img class="welc2-image" src="~/images/badminton_rackets_image.png" />
    </div>

    <div class="shape">
        <section id="BookingType" class="BookingType">
            <h2>--Featured Courts--</h2>
            <div class="court-list">
                <div id="slide-container">
                    <div id="slide">
                        @foreach (var addressGroup in courts)
                        {
                            @foreach (var court in addressGroup.Courts)
                            {
                                <div class="court-card">
                                    <p class="court-select">
                                        <img src="~/images/@court.ImgUrl" alt="@court.ImgUrl">
                                        <a style="text-decoration:none" asp-controller="home" asp-action="book2" asp-route-address="@addressGroup.Address" asp-route-sortOrder="">@court.Name</a>
                                    </p>
                                    <p class="court-info-pop">
                                        <span>@court.CourtInfo</span>
                                        <div class="assert">
                                            <a style="text-decoration:none" asp-controller="home" asp-action="book2" asp-route-address="@addressGroup.Address" asp-route-sortOrder=""><i class="fa-solid fa-circle-info"></i>Information</a>
                                        </div>
                                    </p>
                                    <div class="court-location"><i class="fa-solid fa-location-dot"></i>@court.CourtLocation</div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="slide-buttons">
                    <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
                    <button id="next"><i class="fa-solid fa-angle-right"></i></button>
                </div>
            </div>
        </section>

        <section id="bookingInformation" class="contact-section">
            <div class="con-container">
                <h2>Booking Information</h2>
                <div class="flip-container">
                    <div class="first-card">
                        <div class="flip-front">
                            <span class="casualBooking">Casual Booking</span>
                        </div>
                        <div class="flip-back">
                            <p class="casualExplain">Casual Booking Explanation here...</p>
                        </div>
                    </div>

                    <div class="seccond-card">
                        <div class="flip-front">
                            <span class="fixedBooking">Fixed Booking</span>
                        </div>
                        <div class="flip-back">
                            <p class="fixedExplain">Fixed Booking Explanation here...</p>
                        </div>
                    </div>

                    <div class="third-card">
                        <div class="flip-front">
                            <span class="flexibleBooking">Flexible Booking</span>
                        </div>
                        <div class="flip-back">
                            <p class="flexibleExplain">Flexible Booking Explanation here...</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer-container">
            &copy; 2024 - BadmintonBooking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
