@model IEnumerable<BadmintonBooking.Models.Court>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var courts = Model.GroupBy(c => c.CoAddress)
    .Select(addressGroup => new
    {
        Address = addressGroup.Key,
        Courts = addressGroup.GroupBy(c => c.CoName)
                             .Select(nameGroup => new
                             {
                                 Name = nameGroup.Key,
                                 ImgUrl = nameGroup.Select(p => p.CoPath).FirstOrDefault(),
                                 CourtInfo = nameGroup.Select(d => d.CoInfo).FirstOrDefault(),
                                 CourtLocation = nameGroup.Select(l => l.CoAddress).FirstOrDefault()
                             }).ToList()
    }).ToList();


}

<partial name="_Notification" />

<body>
    <script src="~/js/script.js"></script>

    <section class="Quote">
        <div>
            <div>We Offer You Our <span class="typing"></span></div>
            <div>Badminton Courts</div>
        </div>
    </section>

    <section class="heading" id="home">
        <div class="outter-container">
            <div class="welcome-container">
                <div class="welcome-text">
                    <h2>Welcome</h2>
                    <p>Your satisfaction is our priority. We offer our great fields to meet your needs.</p>
                </div>
                <div class="booking-button">
                    <a href="#BookingType" class="button">Book Now!</a>
                    <p class="btn-text">[Direct to booking reccomendations]</p>
                </div>
                <div class="additional-info">
                    <div class="info-block location">
                        <h3><i class="fa-solid fa-location-dot"></i>Locations</h3>
                        <p>Ho Chi Minh, District 1</p>
                        <p>Ho Chi Minh, District 2</p>
                        <p>Ho Chi Minh, District 3</p>
                    </div>
                    <div class="info-block operating-hours">
                        <h3><i class="fa-regular fa-clock"></i>Operating Hours</h3>
                        <p>Mon-Fri: <i class="fa-solid fa-sun"></i>6am - 10pm<i class="fa-solid fa-moon"></i></p>
                        <p>Sat-Sun: <i class="fa-solid fa-sun"></i>8am - 8pm<i class="fa-solid fa-moon"></i></p>
                    </div>
                    <div class="info-block public-booking-hours">
                        <h3><i class="fa-solid fa-clock"></i>Public Booking Hours</h3>
                        <p>Mon-Fri: <i class="fa-solid fa-sun"></i>8am - 8pm<i class="fa-solid fa-moon"></i></p>
                        <p>Sat-Sun: <i class="fa-solid fa-sun"></i>10am - 6pm<i class="fa-solid fa-moon"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="welc-images">
        <img class="welc1-image" src="~/images/badminton-emnmmr8ioymey8eu.jpg" />
        <img class="welc2-image" src="~/images/badminton_rackets_image.png" />
    </div>

    <div class="welc-images">
        <img class="welc1-image" src="~/images/badminton-emnmmr8ioymey8eu.jpg" />
        <img class="welc2-image" src="~/images/badminton_rackets_image.png" />
    </div>

    <div class="shape">
        <section id="BookingType" class="BookingType">
            <h2>--Featured Courts--</h2>
            <div class="court-list">
                <div id="slide-container">
                    <div id="slide">
                        @foreach (var addressGroup in courts)
                        {
                            @foreach (var court in addressGroup.Courts)
                            {
                                <div class="court-card">
                                    <p class="court-select">
                                        <img src="~/images/@court.ImgUrl" alt="@court.ImgUrl">
                                        
                                    </p>
                                    <p class="court-info-pop">
                                        <span class="courtName">@court.Name</span>
                                        <span>@court.CourtInfo</span>
                                        <div class="assert">
                                            <a style="text-decoration:none" asp-controller="home" asp-action="book2" asp-route-address="@addressGroup.Address" asp-route-sortOrder=""><i class="fa-solid fa-circle-info"></i>Information</a>
                                        </div>
                                    </p>
                                    <div class="court-location"><i class="fa-solid fa-location-dot"></i>@court.CourtLocation</div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="slide-buttons">
                    <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
                    <button id="next"><i class="fa-solid fa-angle-right"></i></button>
                </div>
            </div>
        </section>

        <section id="bookingInformation" class="contact-section">
            <div class="con-container">
                <h2>Booking Information</h2>
                <div class="flip-container">
                    <div class="first-card">
                        <div class="flip-front">
                            <span class="casualBooking">Casual Booking</span>
                        </div>
                        <div class="flip-back">
                            <p class="casualExplain">Casual Booking:</p>
                            <div class="instruction-paragraph">
                                <span class="bookingType-explain">
                                The Casual Courtside option caters to the spontaneous player. Book a single court time slot whenever the court fever hits, and only pay for the slot you utilize.

                                This no-commitment approach allows you to maintain your competitive edge without the burden of a fixed schedule.  Perfect for a quick practice session or a last-minute match with friends.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="seccond-card">
                        <div class="flip-front">
                            <span class="fixedBooking">Fixed Booking</span>
                        </div>
                        <div class="flip-back">
                            <p class="fixedExplain">Fixed Booking: </p>
                            <div class="instruction-paragraph">
                                <span class="bookingType-explain">
                                Cultivate Consistency: Fixed Court Reservations
                                For those who thrive on structure and routine, our Fixed Court Reservation plan offers unwavering reliability. Book your court time for a specific week, with each slot featuring a designated start and end time.  This reservation automatically repeats for your chosen number of weeks, ensuring your court time becomes a seamless part of your weekly routine.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="third-card">
                        <div class="flip-front">
                            <span class="flexibleBooking">Flexible Booking</span>
                        </div>
                        <div class="flip-back">
                            <p class="flexibleExplain">Flexible Booking:</p>
                            <div class="instruction-paragraph">
                                <span class="bookingType-explain">
                                Unleash Your Inner Champion: Flexible Court Booking
                                Take control of your court time with our innovative Flexible Booking option.  This plan empowers you to book court time slots in advance, accumulating them up to a desired total. Need ten hours to hone your skills? Grab ten Flexible Booking slots and utilize them whenever your schedule allows.

                                Maximize your flexibility and court domination without rigid scheduling constraints.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

</body>
